# Node
node_modules/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Fabric artifacts
fabric-network/organizations/
fabric-network/test-network/crypto-config/
fabric-network/test-network/fabric-ca/
fabric-network/test-network/*.block
fabric-network/test-network/*.tx

# IPFS temp files
.ipfs/

# Logs
*.log

# VSCode
.vscode/
